@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
    --background-color-main: #52525b;
    --background-color-shadow: #e4e4e7;
    --background-color-cards: #fafafa;
    --dark-background-text-color: white;
    --light-background-text-color: black;
    --main-header-weight: 800;
    --main-header-font-size: 2rem;


    --minor-header-weight: 800;
    --minor-header-font-size: 1.25rem;
    --welcome-bar-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --card-border-radius: 10px;
    --card-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --card-margin: 20px;

    --announcement-detail-font-size: .75rem;
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr; 

}
.sidebar {
    background-color: var(--background-color-main);
    color: var(--dark-background-text-color);
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1.5fr;
    align-content: start;

}

.dashboard-logo {
    display: grid;
    grid-template-columns: .55fr 1fr;
    align-items: center;
    align-content: start;
}
.dashboard-logo > img {
    height: 100px;
}
.dashboard-logo{
    font-size: var(--main-header-font-size);
    font-weight: var(--main-header-weight);
    padding-right: 15px;
}
.action-links {
    display: grid;
    align-content: center;
    gap: 10px;
    font-size: var(--minor-header-font-size);
    font-weight: var(--minor-header-weight);
}

.action-links>div> img, 
.support-links>div>img {
    height: 25px;
    padding-right: 10px;
    padding-left: 20px;
}

.support-links {
    display:grid;
    align-content: center;
    gap: 10px;
    font-size: var(--minor-header-font-size);
    font-weight: var(--minor-header-weight);

}

.welcome-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color-cards);
    box-shadow: var(--welcome-bar-shadow);

}
.search{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 40px;
    padding-right: 70px;

}
.user-welcome > button {

    height: 35px;
    width: 90px;
    background-color: var(--background-color-main);
    border: none;
    border-radius: 20px;
    color: var(--dark-background-text-color);
    font-size: 1.05rem;
    font-weight: 600;
    justify-self: center;
}
.user-welcome {
    display: grid;
    grid-template-columns: .5fr 6fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    padding-left: 40px;
}
.user-name {
    display:grid;
    grid-template-rows: 1fr 2.5fr;
    padding-top: 15px;
}
.small-greeting{
    font-size: 0.75rem;
    font-weight: 1000;
}
.user-name:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 800;

}
.user-icon-picture {
    height: 65px;
}
.search> img {
    height: 25px;
}
.search > input {
    border: 2px solid var(--background-color-shadow);
    border-radius: 10px;
    height: 20px;
    background-color: var(--background-color-shadow);
    max-width: 1000px;

}
.search > div {
    font-weight:600;
}
.dashboard {
    background-color: var(--background-color-shadow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;

}

.sub-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .1fr 1fr .1fr 1fr;
    padding: 30px;
}

.header {
    font-weight: var(--main-header-weight);
    font-size: var(--minor-header-font-size)
}

.header-container-projects{
    grid-column: 1;
    grid-row: 1;
}
.header-container-announcements{
    grid-column: 2;
    grid-row: 1;
}
.header-container-trending{
    grid-column: 2;
    grid-row: 3;
    padding-top: 20px;
    padding-bottom: 10px;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    grid-column: 1;
    grid-row: 2/5;
    margin-right: 30px;

}
.project {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: var(--card-border-radius);
    border-left: 8px solid var(--background-color-main);
    background-color: var(--background-color-cards);
    box-shadow: var(--card-shadow);
    
}
.title {
    font-weight: var(--main-header-weight)
}
.project-icons{
    align-self: flex-end;
}

.project-icons > img {
    height: 20px;
}

.announcement-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    grid-row: 2;
    border-radius: var(--card-border-radius);
    background-color: var(--background-color-cards);
    box-shadow: var(--card-shadow)
}
.announcement-title {
    font-size: 14px;
    font-weight: 800;
}
.announcement-text{
    font-size: 12px;
}
.announcement {
    padding: 15px;
}

.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--card-border-radius);
    background-color: var(--background-color-cards);
    box-shadow: var(--card-shadow);
    max-height: 350px;

    
}
.trending-user{
    display: flex;
    align-items: center;
    padding: 15px;
}

.user-icon-picture {
    height: 50px;
    padding-right: 15px;
}

.trending-user :nth-child(1){
    font-weight: var(--main-header-weight);
    font-size: .75rem;
}
.trending-user :nth-child(2){
    font-size: .85rem;
}