@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
    --background-color-main: #52525b;
    --background-color-shadow: #e4e4e7;
    --background-color-cards: #fafafa;
    --dark-background-text-color: white;
    --light-background-text-color: black;
    --main-header-weight: 800;
    --main-header-font-size: 2rem;


    --minor-header-weight: 800;
    --minor-header-font-size: 1.25rem;
    --welcome-bar-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --card-border-radius: 10px;
    --card-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --card-margin: 20px;

    --announcement-detail-font-size: .75rem;
}

.container {
    display:grid;
    grid-template-columns: 1fr 4fr; 

}
.sidebar {
    background-color: var(--background-color-main);
    color: var(--dark-background-text-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.dashboard-logo{
    font-size: var(--main-header-font-size);
    font-weight: var(--main-header-weight);
}
.action-links {
    display: grid;
    align-content: center;
    gap: 10px;
    font-size: var(--minor-header-font-size);
    font-weight: var(--minor-header-weight);
    

}

.support-links {
    display:grid;
    align-content: center;
    gap: 10px;
    font-size: var(--minor-header-font-size);
    font-weight: var(--minor-header-weight);

}

.welcome-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-color-cards);
    box-shadow: var(--welcome-bar-shadow);
    padding-bottom: 10px;
}
.search{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 40px;
    padding-right: 70px;

}


.user-welcome > button {

    height: 35px;
    width: 90px;
    background-color: var(--background-color-main);
    border: none;
    border-radius: 20px;
    color: var(--dark-background-text-color);
    font-size: 1.05rem;
    font-weight: 600;
    justify-self: center;
}
.user-welcome {
    display: grid;
    grid-template-columns: .5fr 6fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    padding-left: 40px;
}

.user-name {
    display:grid;
    grid-template-rows: 1fr 2.5fr;
    padding-top: 15px;
}
.small-greeting{
    font-size: 0.75rem;
    font-weight: 1000;
}
.user-name:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 800;

}

.user-icon-picture {
    height: 65px;
}

.search> img {
    height: 25px;
}

.search > input {
    border: 2px solid var(--background-color-shadow);
    border-radius: 10px;
    background-color: var(--background-color-shadow);
    max-width: 1000px;

}

.search > div {
    font-weight:600;

}
.dashboard {
    background-color: var(--background-color-shadow);
    display: grid;
    grid-template-rows: 1fr 6fr;

}
.project-container {
    font-weight: var(--minor-header-weight);
    font-size: var(--minor-header-font-size);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr .15fr;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.project-sub-container {
    grid-column: 1;
    grid-row: 1/3;
    margin: 20px;
}


.projects-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    margin-top: 10px;
}


.projects-box > div {
    background-color: var(--background-color-cards);
    border-radius: var(--card-border-radius);
    border-left: solid 10px var(--background-color-main); 
}
.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr .25fr;
    align-items: center;
}
.box-text {
    font-size: 1rem;
    font-weight: 500;
    color:#52525b;
    grid-column: 1/3;
    grid-row: 2/3;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
    grid-row: 3;
}
.icons > img {
    height: 20px;
}


.trending-box {
    background-color: var(--background-color-cards);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    grid-column: 2/2;
}
.announcements-box {
    background-color: var(--background-color-cards);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    grid-row: 3/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}




.announcement {
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.announcement-titles {
    font-size: 16px;
}
.announcement-text {
    font-size: 12px;
    font-weight: 200;
    /* border-bottom: 1px solid var(--background-color-main) */
}

.trending-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.trending-user {
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.trending-name-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}